@page
@model SupermarketWEB.Pages.Customers.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h1>Customer</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Customer.document_number" class="control-label"></label>
                <input asp-for="Customer.document_number" class="form-control" />
                <span asp-validation-for="Customer.document_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.first_name" class="control-label"></label>
                <input asp-for="Customer.first_name" class="form-control" />
                <span asp-validation-for="Customer.first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.last_name" class="control-label"></label>
                <input asp-for="Customer.last_name" class="form-control" />
                <span asp-validation-for="Customer.last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.address" class="control-label"></label>
                <input asp-for="Customer.address" class="form-control" />
                <span asp-validation-for="Customer.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.phone_number" class="control-label"></label>
                <input asp-for="Customer.phone_number" class="form-control" />
                <span asp-validation-for="Customer.phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customer.email" class="control-label"></label>
                <input asp-for="Customer.email" class="form-control" />
                <span asp-validation-for="Customer.email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-primary">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
